[user]
	email = <email>
	name = <name>
[alias]
	co = checkout
	st = status
	cm = commit --message
	csm = commit --signoff --message
	cp = cherry-pick
	df = diff
	dc = diff --cached
[core]
	excludesFile = ~/.gitignore
	editor = vim
[push]
	autoSetupRemote = true
